<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<meta name=viewport content="width=device-width, initial-scale=1">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link rel="shortcut icon" href="/img/lambda-hammer.ico" />
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Adam Wespiser $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Wespiser</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/writing.html">Writings</a>
                <a href="/contact.html">Info</a>
                <a href="/archive.html">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
    </body>

<link href='/assets/atom-one-light.css' rel='stylesheet'/>
<script src='/assets/highlight.pack.js'></script>

</html>
